.wrapper__hero__container {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.hero__container__img {
  width: 100%;
}

.hero__container__img img {
  width: 100%;
  max-height: 600px;
}

.slick-prev {
  left: 25px !important;
  z-index: 50;
}

.slick-next {
  right: 50px !important;
  z-index: 50;
}

.slick-arrow.slick-prev::before {
  color: black !important ;
  font-size: 50px !important;
}

.slick-arrow.slick-next::before {
  color: black !important ;
  font-size: 50px !important;
}

/* .slick-dots {
  margin-bottom: 30px !important;
} */

.slick-dots li button:before {
  font-size: 30px !important;
}

.wrapper__content__title {
  padding-top: 2rem;
  text-align: center;
}

.wrapper__hero__cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
