.wrapper__hero__container {
  width: 100%;
  max-width: 1600px;
  display: flex;
}

.hero__container__img {
  width: 80%;
  margin: 0 auto;
}

.hero__container__img > img {
  width: 100%;
}
.slick-arrow.slick-prev::before {
  color: black !important ;
}
