.wrapper__header {
  height: 74px;
  position: fixed;
  top: -4px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  backdrop-filter: blur(4px);
}

.wrapper__header__container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  height: 80px;
}

.header__container__logo {
  width: 180px;
}

.header__container__logo > img {
  width: 70%;
  height: 100%;
}

.header__container__nav-pages {
  display: flex;
  width: 30%;
  min-width: 350px;
  justify-content: space-around;
  flex-direction: row;
}

.header__container__nav-pages > * {
  font-family: "RobotoRegular";
  text-decoration: none;
  font-weight: 500;
  font-size: 0.95rem;
  color: black;
}

.header__container__nav-pages > *:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.header__container__nav-pages > *:focus {
  color: var(--primary-color);
  text-decoration: none;
}

.header__container__nav-pages > *:active {
  text-decoration: none;
  color: var(--primary-color);
}

.header__container__login--primary > button {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  width: 100%;
  align-items: center;
  border: none;
  padding: 0.2rem 1rem 0.2rem 0.5rem;
  color: white;
  font-weight: 700;
  border-radius: 4px;
}

.header__container__login--primary {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  font-family: "Lobster-Regular";
}

.nav__bar__login___btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-collapse {
  flex-direction: row !important;
}

.override__container {
  flex-direction: row !important;
  align-items: center !important;
}

@media (max-width: 1000px) {
  .header__container__login--primary {
    width: max-content;
  }
  .override__container {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .header__container__login--primary {
    width: 100% !important;
  }
}
