.wrapper__header {
  height: 80px;
  position: fixed;
  background-color: rgba(250, 250, 250, 0.7);
  top: -4px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  backdrop-filter: blur(4px);
}

.wrapper__header__container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  height: 80px;
}
/* 
.header__container__logo::before {
  content: "";
  background-color: rgba(46, 204, 113, 0.5);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
} */

.header__container__logo {
  width: 150px;
}

.header__container__logo > img {
  width: 100%;
  height: 100%;
}

.header__container__nav-pages {
  display: flex;
  width: 30%;
  min-width: 350px;
  justify-content: space-around;
  flex-direction: row;
}

.header__container__login--primary > button {
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  font-family: "Lobster-Regular";
}
