.wrapper__content__card-left-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.wrapper__content__card-right-img {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.wrapper__content__card__img__container-left-img {
  clip-path: polygon(0 0, 100% 0, 61% 100%, 0 100%);
  width: 60%;
}

.wrapper__content__card__img__container-right-img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 38% 100%);
  width: 60%;
}

.wrapper__content__card__img__container__img {
  width: 100%;
}

.wrapper__content__card__content__container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper__content__card__content__container > h2 {
  text-align: center;
  font-size: 2rem;
  margin-block-end: 0;
}

.wrapper__content__card__content__container > p {
  font-size: 1.3rem;
}

.wrapper__content__card__content__container > button {
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: 2rem;
}
