:root {
  --max-width: 1200px;
  --primary-color: rgb(49, 189, 49);
}

.wrapper {
  min-height: 100vh;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto) 90px;
  row-gap: 2rem;
}

.wrapper > * {
  width: 100%;
  grid-column: span 4;
}

.container {
  max-width: var(--max-width);
}
