:root {
  --max-width: 1200px;
  --primary-color: rgb(49, 189, 49);
  --white-color: #fff;
  --background-color: rgba(220, 220, 220, 1);
  font-size: calc(13px + 0.2vw);
}

.wrapper {
  padding-top: 76px;
  min-height: 100vh;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto) 90px;
  row-gap: 2rem;
  background-color: var(--background-color);
}

.wrapper > * {
  width: 100%;
  grid-column: span 4;
}

.container {
  max-width: var(--max-width);
}

@font-face {
  font-family: "Lobster";
  src: local("Lobster"),
    url(./assets/fonts/Lobster-Regular.ttf) format("truetype");
}
